#### Sequence Sum

In [2]:
# Find the sequence sum of given pattern till n where n is given by the user 1/1!+2/2!+3/3!+.... upto n
n = int(input("Enter the value of n : "))
result = 0
fact = 1
for i in range(1,n+1):
    fact = fact*i
    result = result + i/fact
print(result)

Enter the value of n :  2

2.0

### ~~~Nested Loops

In [3]:
#Examples --->>> Unique Pairs
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

## Pattern Printing

#### Pattern 1

*
**
***
****
*****

In [8]:
#Given pattern looks like
rows = int(input("Enter the no of Rows : "))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

Enter the no of Rows :  7

*
**
***
****
*****
******
*******

#### Pattern 2

1
121
12321
1234321

In [17]:
rows = int(input("Enter the no of rows : "))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end="")
  for k in range(i-1,0,-1):
      print(k,end="")
  print()

Enter the no of rows :  4

1
121
12321
1234321

## Loop Control Statement

.Break
.Continue
.Pass

##### ~~~Break Statement

In [20]:
# Break Statement
for i in range(1,10):
    if i == 5:
      break
    print(i)

1
2
3
4

In [31]:
# Que: Print all prime no b/w two number given by user 
lower = int(input("Enter lower Range : "))
upper = int(input("Enter upper Range : "))
print("The prime no's b/w",lower, "and", upper, "are : ")

for i in range(lower,upper+1):
    for j in range(2,i):
       if i%j == 0:
        break
    else:
        print(i,end=" ")

Enter lower Range :  10
Enter upper Range :  100

The prime no's b/w 10 and 100 are :
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

##### ~~~Continue Statement

In [33]:
for i in range(1,10):
    if i == 5:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9

In [34]:
# Let a simple program on continue statement-->>> to print odd no b/w 1 and 100
for i in range(1,101):
    if i%2 == 0 :
        continue
    else:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

##### ~~~Pass Statement

In [36]:
# Usually pass statement is used to say that please don't show any error 
# when you don't want execute the program 
# Or simply when you write some code but further code is not known then you can write pass and move next 
# which will keep you error free
for i in range(1,10):
    pass

Strings are sequence of Cgaracters 
In Python specifically, strings are a sequence of Unicode(16 bit i.e 2^16) Characters
.Creating Strings
.Accessing Strings
.Adding Chars to Strings
.Editing Strings
.Deleting Strings
.Operations on Strings
.String Functions

###### ~~Creating Strings

In [38]:
s = 'Hello'
print(s)
ss = "It's raining Outside"
print(ss)
# Multiline Strings
sss = str('hello')
print(sss)

Hello
It's raining Outside
hello

###### ~~Accessing Strings

In [39]:
# Positive Indexing
s = "Hello World"
print(s[0])

H

In [1]:
# Negative Indexing-->>> means string k last index se access krega with -ve sign start from 1 to n
s = "How are you"
print(s[-1])

u

In [49]:
# Slicing
s = "Hello World" #Here space is aslo included in index
print(s[2:7]) #Including 1st index and excluding last index i.e 2 idx print but 4 idx not print
print(s[0:6:3])#Here 3 indicates that each index k baad 3 chhodkar agla index print hoga

#For reverse printing mind that first index should be greater one
print(s[6:0:-1])
#For whole string to print in reverse order
print(s[::-1])

print(s[-1:-6:-1])

llo W
Hl
W olle
dlroW olleH
dlroW

###### ~~Adding Chars to Strings

###### ~~Editing and Deleting in Strings

###### Most Impt : In Python, Strings are Immutable

In [55]:
# Below code will throw error bcz In Python,strings are Immutable means cannot be changed
s = "Hello World"
s[0] = "H"

###### ~~Deleting Strings

In [60]:
# In Python, del operator is used to delete string-->>> Simple example is given below
s = "Hello World"
del s
print(s)

NameError: name 's' is not defined

In [62]:
# Predict the output
s = "Hello World"
del s[-1:5:2] #-->> We're changing the string which is called mutability hence in Python mutability isn't allowed hence throw error
print(s)

TypeError: 'str' object does not support item deletion

##### ~~Operations on Strings

###### 1.Arithmetic Operations

In [ ]:
# Arithmetic Operations
#(a) : Addition
print("Delhi"+ " " + "Mumbai")
#(b): Multiplication
print("Mumbai "*5)

###### 2.Relational Operations

In [75]:
"Mumbai" == "Pune"

False

In [76]:
"Mumbai" != "Pune"

True

In [ ]:
# Below code will not throw error bcz it works as lexographically order.
# lexicographical order is similar to alphabetical order but considers character ASCII values.
# ASCII value of M is 77 and P is 80 then 77>80-- False
"Mumbai">"Pune"

In [ ]:
# Same reason ASCII value of P is 80 but p is 112 hencew false
"Pune" > "pune"

###### 3.Logical Operations

###### NOTE: Python considered empty string as False and string with some word as True

In [80]:
"HELLO" and "WORLD"
#Means HELLO is true and WORLD is true-->>> T and T-->> why WORLD is printed bcz if 1st is true then 
# We've to check another one to be true in AND operation then if 2nd is true then print 2nd

'WORLD'

In [81]:
"HELLO" or "WORLD"
#If anyone is true then true so here 1st is true then don't need to check 2nd so print 1st

'HELLO'

In [82]:
"" and "WORLD"
# F and T -->> F hence output will be ""

''

In [83]:
not "" # "" is false and it's not is true

True

In [84]:
not "Hello" #Hello is true and it's not is false

False

###### 4.Loops on Strings

###### NOTE: In Python, String is Iterable

In [85]:
# Example of string is iterable
for i in "Hello":
    print(i)

H
e
l
l
o

In [86]:
#Another Example
for i in "Mumbai":
    print("Pune")
#It means jitna index Mumbai ka hai (i.e 6 here) utne baar Pune print hoga

Pune
Pune
Pune
Pune
Pune
Pune

###### 5.Membership Operations

In [87]:
"D" in "Delhi"

True

In [88]:
"K" not in "Delhi"

True

In [90]:
#NOTE: It is a case sensitive i.e uppercase and lowercase are different
"d" in "Delhi"

False

##### ~~String Functions

##### Common Functions are : 
###### 1.len
###### 2.max
###### 3.min
###### 4.sorted

In [91]:
# len function
len("Hello World")

11

In [92]:
#max function
max("Hello World")

'r'

In [93]:
#min function
min("Hello World")

' '

In [94]:
#sorted function
sorted("Hello World")
#All the letter of given string are arranged in ascending order of their ASCII values

[' ', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

In [95]:
#Reverse Sorting
sorted("Hello World",reverse=True)

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ' ']

###### Capitalize/Title/Upper/Lower/Swapcase function

###### NOTE: Niche ham jo bhi function use kr rhe hain usase naya string form hoke usme changes ho rhe hain our original string remain unchanged bcz we already know that Strings are immutable in Python

In [118]:
#Capitalize--->> 1st letter ko capital kr dega
s = "hello world"
s.capitalize()

'Hello world'

In [119]:
#title function capitalizes first letter of each word
"hi i am a student".title()

'Hi I Am A Student'

In [120]:
s.upper()

'HELLO WORLD'

In [121]:
s.lower()

'hello world'

In [100]:
"HOW're YOU".lower()

"how're you"

In [101]:
#swap case upper ko lower and lower ko upper
"There IS SOme IssUE".swapcase()

'tHERE is soME iSSue'

###### Count/Find/Index function

In [105]:
"My Name is Vidyanand Yadav".count("a")

5

In [107]:
"My Name is Vidyanand Yadav".find("x")
#As x is not present it will return -1

-1

In [111]:
"My Name is Vidyanand Yadav".index("is")
#It will show the index no of is...
# If given search is not present it will show error but not -1 as in above case

8

###### endswith/startswith function

In [112]:
"My Name is Vidyanand Yadav".endswith("av")

True

In [113]:
"My Name is Vidyanand Yadav".endswith("avy")

False

In [115]:
"My Name is Vidyanand Yadav".startswith("My")

True

In [116]:
"My Name is Vidyanand Yadav".startswith("my")

False

###### format function

In [117]:
name = "Vidyanand"
gender = "Male"
age = 20
"Hi my name is {} and I am a {} and {} years old".format(name,gender,age)

'Hi my name is Vidyanand and I am a Male and 20 years old'

In [122]:
#NOTE: Order is very important
name = "Vidyanand"
gender = "Male"
age = 20
"Hi my name is {} and I am a {} and {} years old".format(name,age,gender)

'Hi my name is Vidyanand and I am a 20 and Male years old'

In [123]:
#Also you can use index no i.e
name = "Vidyanand"
gender = "Male"
age = 20
"Hi my name is {2} and I am a {1} and {0} years old".format(age,gender,name)

'Hi my name is Vidyanand and I am a Male and 20 years old'

###### isalnum/isalpha/isdigit/isidentifier

In [128]:
#isalnum-->> checks that string is alphanumeric or not
"Prince1863".isalnum()

True

In [127]:
"Prince1863%".isalnum()

False

In [130]:
#isalpha checks for alphabet
"Prince".isalpha()

True

In [131]:
"1234qwert".isdigit()

False

In [133]:
"name1".isidentifier()

True

In [134]:
"1name".isidentifier()

False

In [135]:
"Yuvraj_Yadav".isidentifier()

True

In [136]:
"Yuvraj-Yadav".isidentifier()

False

###### Split/Join

In [139]:
"Hi My name is Vidyanand Yadav".split()

['Hi', 'My', 'name', 'is', 'Vidyanand', 'Yadav']

In [141]:
"Hi My name is Vidyanand Yadav".split("i")

['H', ' My name ', 's V', 'dyanand Yadav']

In [142]:
"Hi My name is Vidyanand Yadav".split("is")

['Hi My name ', ' Vidyanand Yadav']

In [143]:
# Join-->> It is the reverse of split function used above
" ".join(['Heyy','!','my','name','is',"Vidyanand","Yadav"])

'Heyy ! my name is Vidyanand Yadav'

In [144]:
"-".join(['Heyy','my','name','is',"Vidyanand","Yadav"])

'Heyy-my-name-is-Vidyanand-Yadav'

In [145]:
"*".join(['Heyy','!','my','name','is',"Vidyanand","Yadav"])

'Heyy*!*my*name*is*Vidyanand*Yadav'

###### Replace

In [146]:
"Hi My name is Vidyanand Yadav".replace("Vidyanand","Anurag")

'Hi My name is Anurag Yadav'

###### Strip

In [149]:
# NOTE: Strip will remove all trailing spaces
# Trailing means starting or ending with gym

In [147]:
"PRINCE                                ".strip()

'PRINCE'

In [1]:
"Anurag     Yadav".strip()
# Most Important to note that in this no any spaces removes bcz this is neither a trailing nor a leading spaces 
# trailing spaces -->> occurs after the last character
# leading spaces -->> occurs just before the first character

'Anurag     Yadav'