In [1]:
import numpy as np
import pandas as pd

In [20]:
# Till now 
# TImestamp
pd.Timestamp('22nd June 2025')

Timestamp('2025-06-22 00:00:00')

In [21]:
#DatetimeIndex -->> df and series Index
pd.DatetimeIndex([pd.Timestamp('22nd June 2025'),pd.Timestamp('20th June 2025'),pd.Timestamp('18th June 2025')])

DatetimeIndex(['2025-06-22', '2025-06-20', '2025-06-18'], dtype='datetime64[ns]', freq=None)

In [22]:
# date_range()
pd.date_range(start = '2025-6-1',end='2025-6-30',freq='D')

DatetimeIndex(['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04',
               '2025-06-05', '2025-06-06', '2025-06-07', '2025-06-08',
               '2025-06-09', '2025-06-10', '2025-06-11', '2025-06-12',
               '2025-06-13', '2025-06-14', '2025-06-15', '2025-06-16',
               '2025-06-17', '2025-06-18', '2025-06-19', '2025-06-20',
               '2025-06-21', '2025-06-22', '2025-06-23', '2025-06-24',
               '2025-06-25', '2025-06-26', '2025-06-27', '2025-06-28',
               '2025-06-29', '2025-06-30'],
              dtype='datetime64[ns]', freq='D')

In [24]:
# to_datetime()
s = pd.Series(['2025/6/22','2025/6/23','2025/6/24'])
pd.to_datetime(s).dt.day_name()

0     Sunday
1     Monday
2    Tuesday
dtype: object

#### Time Delta
##### Represent a duration, the difference between two dates or times

In [41]:
# Create using TImestamp Objects
t1 = pd.Timestamp('22nd June 2025')
t2 = pd.Timestamp('15 JUly 2025')
t2-t1

Timedelta('23 days 00:00:00')

In [42]:
t1 = pd.Timestamp('22nd June 2025 8:20:14')
t2 = pd.Timestamp('15 JUly 2025 10:17:57')
t2-t1

Timedelta('23 days 01:57:43')

In [43]:
# standalone creation
pd.Timedelta(days=2)

Timedelta('2 days 00:00:00')

In [44]:
pd.Timedelta(days=2,hours = 10)

Timedelta('2 days 10:00:00')

In [45]:
# Arithmetic
pd.Timestamp('6th JAN 2023') + pd.Timedelta(days=2,hours=10,minutes=35)

Timestamp('2023-01-08 10:35:00')

In [46]:
pd.date_range(start='2023-1-6',end='2023-1-31',freq='D') + pd.Timedelta(days=2,hours=10,minutes=35)

DatetimeIndex(['2023-01-08 10:35:00', '2023-01-09 10:35:00',
               '2023-01-10 10:35:00', '2023-01-11 10:35:00',
               '2023-01-12 10:35:00', '2023-01-13 10:35:00',
               '2023-01-14 10:35:00', '2023-01-15 10:35:00',
               '2023-01-16 10:35:00', '2023-01-17 10:35:00',
               '2023-01-18 10:35:00', '2023-01-19 10:35:00',
               '2023-01-20 10:35:00', '2023-01-21 10:35:00',
               '2023-01-22 10:35:00', '2023-01-23 10:35:00',
               '2023-01-24 10:35:00', '2023-01-25 10:35:00',
               '2023-01-26 10:35:00', '2023-01-27 10:35:00',
               '2023-01-28 10:35:00', '2023-01-29 10:35:00',
               '2023-01-30 10:35:00', '2023-01-31 10:35:00',
               '2023-02-01 10:35:00', '2023-02-02 10:35:00'],
              dtype='datetime64[ns]', freq='D')

In [47]:
pd.date_range(start='2023-1-6',end='2023-1-31',freq='D') - pd.Timedelta(days=2,hours=10,minutes=35)

DatetimeIndex(['2023-01-03 13:25:00', '2023-01-04 13:25:00',
               '2023-01-05 13:25:00', '2023-01-06 13:25:00',
               '2023-01-07 13:25:00', '2023-01-08 13:25:00',
               '2023-01-09 13:25:00', '2023-01-10 13:25:00',
               '2023-01-11 13:25:00', '2023-01-12 13:25:00',
               '2023-01-13 13:25:00', '2023-01-14 13:25:00',
               '2023-01-15 13:25:00', '2023-01-16 13:25:00',
               '2023-01-17 13:25:00', '2023-01-18 13:25:00',
               '2023-01-19 13:25:00', '2023-01-20 13:25:00',
               '2023-01-21 13:25:00', '2023-01-22 13:25:00',
               '2023-01-23 13:25:00', '2023-01-24 13:25:00',
               '2023-01-25 13:25:00', '2023-01-26 13:25:00',
               '2023-01-27 13:25:00', '2023-01-28 13:25:00'],
              dtype='datetime64[ns]', freq='D')

In [30]:
# real life example
df = pd.read_csv(r"C:\Users\deepu\OneDrive\Desktop\Python\deliveries.csv")
df.head()
# df.info()

  order_date delivery_date
0    5/24/98        2/5/99
1    4/22/92        3/6/98
2    2/10/91       8/26/92
3    7/21/92      11/20/97
4     9/2/93       6/10/98

In [49]:
df['order_date'] = pd.to_datetime(df['order_date'],format="%m/%d/%y")
df['delivery_date'] = pd.to_datetime(df['delivery_date'],format="%m/%d/%y")

In [50]:
df['delivery_time_period'] = df['delivery_date'] - df['order_date']

In [51]:
df['delivery_time_period'].mean()

Timedelta('1217 days 22:53:53.532934128')

#### Time Series

##### A time series is a data set that tracks a sample over time. In particular, a time series allows one to see what factors influence certain variables from period to period. Time series analysis can be useful to see how a given asset, security, or economic variable changes over time.

##### Examples
###### 1.Financial Data (Company stocks)
###### 2.Natural Data (Rainfall measurement)
###### 3.Event Data (Covid)
###### 4.Medical Data (Heart rate monitoring)

##### Types of Operations done on Time Series
###### 1.Time Series Analysis
###### 2.Time Series Forecasting

In [64]:
google = pd.read_csv(r"C:\Users\deepu\OneDrive\Desktop\Python\google.csv")
google.head()
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4471 entries, 0 to 4470
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4471 non-null   object
 1   Open       4471 non-null   float64
 2   High       4471 non-null   float64
 3   Low        4471 non-null   float64
 4   Close      4471 non-null   float64
 5   Adj Close  4471 non-null   float64
 6   Volume     4471 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 244.6+ KB

In [65]:
google.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
4466,2022-05-16,2307.679932,2332.149902,2286.699951,2295.850098,2295.850098,1164100
4467,2022-05-17,2344.550049,2344.550049,2306.750000,2334.030029,2334.030029,1078800
4468,2022-05-18,2304.750000,2313.913086,2242.840088,2248.020020,2248.020020,1399100
4469,2022-05-19,2236.820068,2271.750000,2209.360107,2214.909912,2214.909912,1459600
4470,2022-05-20,2241.709961,2251.000000,2127.459961,2186.260010,2186.260010,1878100

In [67]:
# Changing the dtype of Date from object to datetime so that we can do our analysis
google['Date'] = pd.to_datetime(google['Date'])
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4471 entries, 0 to 4470
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4471 non-null   datetime64[ns]
 1   Open       4471 non-null   float64
 2   High       4471 non-null   float64
 3   Low        4471 non-null   float64
 4   Close      4471 non-null   float64
 5   Adj Close  4471 non-null   float64
 6   Volume     4471 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 244.6 KB

In [68]:
# Making date wala column to index so that it becomes convenient to da analysis
google.set_index('Date',inplace=True)
google.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2004-08-19  49.813290  51.835709  47.800831  49.982655  49.982655  44871361
2004-08-20  50.316402  54.336334  50.062355  53.952770  53.952770  22942874
2004-08-23  55.168217  56.528118  54.321388  54.495735  54.495735  18342897
2004-08-24  55.412300  55.591629  51.591621  52.239197  52.239197  15319808
2004-08-25  52.284027  53.798351  51.746044  52.802086  52.802086   9232276

In [70]:
# fetch a specific date
google.loc['2020-12-30']

Open         1.762010e+03
High         1.765095e+03
Low          1.725600e+03
Close        1.739520e+03
Adj Close    1.739520e+03
Volume       1.306100e+06
Name: 2020-12-30 00:00:00, dtype: float64

In [72]:
# partial indexing -->> select a partial year/month
google.loc['2020-11']
# fetching only a November month then provide only year and month
google.loc['2019']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,1016.570007,1052.319946,1015.710022,1045.849976,1045.849976,1532600
2019-01-03,1041.000000,1056.979980,1014.070007,1016.059998,1016.059998,1841100
2019-01-04,1032.589966,1070.839966,1027.417969,1070.709961,1070.709961,2093900
2019-01-07,1071.500000,1074.000000,1054.760010,1068.390015,1068.390015,1981900
2019-01-08,1076.109985,1084.560059,1060.530029,1076.280029,1076.280029,1764900
...,...,...,...,...,...,...
2019-12-24,1348.500000,1350.260010,1342.780029,1343.560059,1343.560059,347500
2019-12-26,1346.170044,1361.327026,1344.469971,1360.400024,1360.400024,667500
2019-12-27,1362.989990,1364.530029,1349.310059,1351.890015,1351.890015,1038400
2019-12-30,1350.000000,1353.000000,1334.020020,1336.140015,1336.140015,1050900
2019-12-31,1330.109985,1338.000000,1329.084961,1337.020020,1337.020020,961800

In [ ]:
# create year month-name and day-name